@import "tailwindcss";


.days {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.nunito-sans-400 {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

/* body {
  background: var(--tg-theme-secondary-bg-color, white);
  padding: 0;
  margin: 0;
} */
